<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktspace.miniHomeIoT.mapper.DeviceMapper">

    <select id="findByDeviceSeq" parameterType="int" resultType="HashMap">
        select * from device d where d.dvc_seq = #{devSeq};
    </select>

    <select id="findAllByUserId" parameterType="String" resultType="HashMap">
        select * from device where cust_id = ${value};
    </select>

</mapper>