<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktspace.miniHomeIoT.mapper.DeviceMapper">

    <select id="findByDeviceSeq" parameterType="int" resultType="HashMap">
        select * from device d where d.dvc_seq = #{devSeq};
    </select>

    <select id="findAllByUserId"  resultType="HashMap">
        select
            service.svc_seq as "serviceTargetSeq",
            company.external_id as "external",
            device.dvc_seq as "deviceSeq",
            model.model_code as "modelTypeCode",
            model.model_id as "modelId",
            device.dvc_name as "deviceName"
        from service, customer, device, model, company
        where device.cust_id = #{userId}
            and device.cust_id = customer.cust_id
            and service.cust_id = customer.cust_id
            and device.model_id = model.model_id
            and model.comp_id = company.comp_id
<!--            <if test="dvcSeq != null">-->
<!--            and d.dvc_seq = #{dvcSeq}-->
<!--            </if>-->
    </select>
</mapper>