<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktspace.miniHomeIoT.mapper.ResourceMapper">

    <update
            id="updateRscValueByDvcSeq">
        update resource
        set rsc_value = #{value}
        where resource.rsc_seq = (
            select resource.rsc_seq
            from  resource_type, device
            where resource.rsc_type_seq = resource_type.rsc_type_seq
              and resource.dvc_seq = device.dvc_seq
              and device.cust_id = #{userId}
              and resource_type.rsc_type_group=#{rscGrp}
              and resource.dvc_seq = #{dvcSeq})
    </update>

    <insert
        id="insertRscLog">
        insert into resource_log (rsc_log_value, rsc_seq)
        values
            (
             #{value}, (
                select resource.rsc_seq
                       from resource, resource_type
                       where resource.rsc_type_seq = resource_type.rsc_type_seq
                         and resource_type.rsc_type_group=#{rscGrp}
                         and resource.dvc_seq = #{dvcSeq})
            )
    </insert>
</mapper>